/* header section */

@media screen and (max-width:768px){
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-link{
        display: none;
    }
    .contact-button{
        display: none;
    }    
}

@media screen and (max-width: 768px){
    .hero-container{
        flex-direction: column;
    }
}